@font-face {
    font-family: "NeoSansPro Bold";
    src: url("../../../public/fonts/NeoSansPro/NeoSansPro-Bold.ttf") format("truetype");
}
@font-face {
    font-family: "NeoSansPro Medium";
    src: url("../../../public/fonts/NeoSansPro/NeoSansPro-Medium.ttf") format("truetype");
}
@font-face {
    font-family: "NeoSansPro Regular";
    src: url("../../../public/fonts/NeoSansPro/NeoSansPro-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Gilroy Bold";
    src: url("../../../public/fonts/Gilroy/Gilroy-Bold.ttf") format("truetype");
}
@font-face {
    font-family: "Gilroy Medium";
    src: url("../../../public/fonts/Gilroy/Gilroy-Medium.ttf") format("truetype");
}
@font-face {
    font-family: "Gilroy Regular";
    src: url("../../../public/fonts/Gilroy/Gilroy-Regular.ttf") format("truetype");
}

.container {
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 0;
}
.containerItems{
    padding-top: 2%;
    width: 100%;
}

.title{
    margin-top: 0;
    font-size: 40px;
    font-family: "Gilroy Bold";
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 30px;
    color: white;
    text-transform: uppercase;
}

.subtitle{
    color: black;
    font-size: 18px;
    font-family: "Gilroy Bold";
    text-align: center;
    line-height: 1;
    text-transform: uppercase;
    margin-top: 0;
}
.onOrOfflineBlock{
    width: 100%;
    display: flex;
    justify-content: center;
}
.formatInputBody{
    margin: 0 10px;
}
.formatLabel{
    cursor: pointer;
    color: white;
    font-size: 16px;
    margin: 0;
    font-family: "Gilroy Medium";
    transition: 0.3s;
}
.formatLabel:hover{
    color: #F68939;
}
.formatInputBody input{
    display: none;
    cursor: pointer;
    height: 16px;
    width: 16px;
    background: #F68939;
    outline: none;
    color: #F68939;
    border: 4px solid #F68939;
}
.filterBlock{
    display: flex;
    transition: 1s;
    align-items: stretch;
    justify-content: center;
}
.selectBlock{
    color: black;
    background-color: #EAEAEA;
    border-radius: 30px;
    width: 150px;
    cursor: pointer;
    min-width: 200px;
    padding: 10px 15px;
    font-family: "Gilroy Medium";
    border: none;
    margin: 0 5px;
    box-shadow: 0 2px 13px -5px rgba(0, 0, 0, 0.3)
}
.selectBlock:focus{
    outline: none;
}
.inputNumber::-webkit-outer-spin-button,
.inputNumber::-webkit-inner-spin-button {
    display: none;
}

.message{
    font-family: "Gilroy Bold";
    font-size: 24px;
    margin-top: 1%;
    width: 100%;
    text-align: center;
}

.unfilteredCoursesBlock{
    margin-top: 5%;
    padding-left: 15%;
    padding-right: 15%;
}

.unfilteredCoursesBlock > *{
    margin-bottom: 3%;
}

.img_title{
    font-family: "Gilroy Bold";
    margin-top: 1%;
    margin-bottom: 2%;
    display: flex;
    align-items: center;
}

.img_title > p{
    font-size: 26px;
    font-weight: 700;
    margin: 0;
    margin-left: 10px;
    text-transform: uppercase;
}
.img_title > img{
    width: 48px;
}

.courses_block{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
}
.slider_block{
    width: 100%;
    height: 700px;
    background-position: center;
}

.opacity_50{
    width: 100%;
    height: 100%;
    background-color: #00000075;
}

.text_block{
    position:absolute;
    top: 5%;
    left: 5%;
    color: #fff;
}

.text_block > h1{
    margin-bottom: 30px;
}

.text_block > p{
    font-size: 20px;
}

.courses_block > *{
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 30px;
}
.search_btnBody{
    width: 100%;
    display: flex;
    justify-content: center;
    border: none;
}
.filter{
    width: 100%;
    padding-top: 30px;
    padding-bottom: 5px;
}
.search_btnDIV{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    border-radius: 50%;
    height: 48px;
    box-shadow: 0 0 0 rgba(255, 255, 255, 0.4);
    animation: pulse 2s infinite;
    margin-top: 20px;
}

.search_btn:active{
    transform: scale(0.9);
}
.search_btn:hover{
    animation: none;
}
.search_btn{
    cursor: pointer;
    width: 32px;
    height: 32px;
    transition: 0.3s;
    animation: animate_grow 2s infinite;
}


@keyframes animate_grow {
    0% {
        transform: scale3d(1, 1, 1);
    }
    50% {
        transform: scale3d(1.1, 1.1, 1.1);
    }
    100% {
        transform: scale3d(1, 1, 1);
    }
}
.activeFilter{
    color: #F68939;
    transition: 0.3s;
}
.filterBtn{
    transition: 0.1s;
}
.filterBtn:active{
    transform: scale(0.97);
}
.arrow_bottom_block{
    width: 100%;
    display: flex;
}
.arrowImg{
    width: 24px;
}


.btnBody{
    display: flex;
    align-items: center;
    padding-bottom: 10px;
}
.btnBody:hover{
    cursor: pointer;
}
.button{
    border: none;
    border-radius: 20px;
    padding: 10px 15px;
    font-family: 'Gilroy Bold';
    font-size: 18px;
    color: white;
    background-color: #F68939;
    display: flex;
    margin: 10px 0;
    align-items: center;
}

.topHeader{
    padding: 20px 0;
    height: auto;
    width: 100%;
    background: transparent;
    background-image: url("../../../public/triangle_bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: repeat-x;
}

.topHeaderBody{
    display: flex;
    padding: 40px 0;
    flex-direction: column;
}
.whyUsTitle{
    font-size: 32px;
    font-family: "Gilroy Bold";
    text-align: center;
    color: white;
}
.whyUsHeader{
    width: 100%;
    background: linear-gradient(90deg, rgba(60,88,185,1) 0%, rgba(119,148,248,1) 100%);
    text-align: center;
    padding: 30px 0;
}
.whyUs{
    background: linear-gradient(90deg, rgba(60,88,185,1) 0%, rgba(119,148,248,1) 100%);
    width: 100%;
    height: auto;
}
.whyUsContentBlock{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}
.whyUsCardTitle{
    font-family: "Gilroy Bold";
    font-size: 22px;
}
.whyUsCardDescBody{
    color: white;
    display: flex;
    flex-direction: column;
}
.whyUsCardDesc{
    width: 80%;
    font-family: "Gilroy Regular";
}
.whyUsCard{
    width: 50%;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
.whyUsCardImg{
    margin-right: 20px;
}
.stockSlider{
    width: 100%;
    height: auto;
    background: #F68939;
}
.stocksHeader{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    padding: 1% 5% 0 5%;
}
.stocksTitle{
    margin: 20px 0 0 0;
    color: white;
    font-size: 24px;
    text-align: center;
    font-family: "Gilroy Bold";
    position: relative;
}




.loader{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loader img{
    width: 128px;
    height: 128px;
}



@media screen and (max-width: 761px) {
    .title{
        font-size: 32px;
        margin-bottom: 3%;
    }

    .message{
        font-size: 20px;
        margin-top: 3%;
    }

    .subtitle{
        font-size: 18px;
        font-weight: 550;
        text-align: center;
        line-height: 1.2;
    }
    .containerItems{
        flex-direction: column;
    }

    .courses_block > *{
        margin-bottom: 30px;
    }

    .img_title{
        margin-top: 0;
        margin-bottom: 30px;
        display: flex;
        align-items: center;
    }
    .selectBlock{
        width: 100%;
        margin-bottom: 10px;
    }
    .img_title > p{
        font-size: 28px;
        font-weight: 700;
        margin-left: 2%;
        margin-right: 2%;
        text-transform: uppercase;
    }

    .img_title > img{
        width: 50px;
    }

    .img_title > div{
        display: none;
    }

    .filterBlock{
        flex-direction: column;
        width: 80%;
        justify-content: center;
        margin: 0 auto;
    }

    .topHeader{
        width: 100%;
    }
    .topHeaderBody{
        padding-bottom: 0;
    }
    .whyUsCard{
        width: 100%;
    }
    .search_btnBody{
        margin-bottom: 10px;
    }
}
