@font-face {
    font-family: "NeoSansPro Bold";
    src: url("../../public/fonts/NeoSansPro/NeoSansPro-Bold.ttf") format("truetype");
}
@font-face {
    font-family: "NeoSansPro Medium";
    src: url("../../public/fonts/NeoSansPro/NeoSansPro-Medium.ttf") format("truetype");
}
@font-face {
    font-family: "NeoSansPro Regular";
    src: url("../../public/fonts/NeoSansPro/NeoSansPro-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Gilroy Bold";
    src: url("../../public/fonts/Gilroy/Gilroy-Bold.ttf") format("truetype");
}
@font-face {
    font-family: "Gilroy Medium";
    src: url("../../public/fonts/Gilroy/Gilroy-Medium.ttf") format("truetype");
}
@font-face {
    font-family: "Gilroy Regular";
    src: url("../../public/fonts/Gilroy/Gilroy-Regular.ttf") format("truetype");
}

.container{
    background-color: #F1F5ED;
    padding: 20px;
    box-sizing: border-box;
    width: 90%;
    margin: 0 auto;
    box-sizing: border-box;
    border-radius: 30px;
    height: auto;
    margin-bottom: 30px;
}
.headerBlock{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
}
.logoBody{
    width: 20%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.headerRightBlock{
    width: 80%;
}
.centerName{
    border: #A5B4CB 1px solid;
    border-radius: 10px;
    padding: 5px;
    color: #263A59;
    background-color: transparent;
    font-family: "Gilroy Bold";
    font-size: 16px;
}
.centerName:focus{
    outline: none;
}
.centerName::placeholder{
    color: #A5B4CB;
    font-family: "Gilroy Regular";
    font-size: 14px;
}
.centerName:disabled{
    font-family: "Gilroy Bold";
    padding: 0;
    font-size: 16px;
    color: #263A59;
    border: none;
}
.centerName{

}
.starIcon{
    height: 14px;
    margin-right: 3px;
}
.ratingValue{
    font-family: "Gilroy Bold";
    font-size: 16px;
    color: orange;
}
.ratingBlock{
    display: flex;
    align-items: center;
}
.controlPanel{
    display: flex;
    align-items: center;
    margin-right: 10px;
}
.controlPanelShowHideButton{
    cursor: pointer ;
    height: 32px;
    width: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #4C7B8B;
    box-shadow: 0px 0px 10px 1px #4C7B8B;
    font-family: "Gilroy Bold";
    color: white;
    border-radius: 10px;
}
.headerTitleBlock{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.controlPanelItem{
    padding: 5px 5px;
    background-color: #8CC5DA;
    color: #4C7B8B;
    border-radius: 5px;
    border: none;
    font-size: 12px;
    margin: 0 3px;
    font-family: "Gilroy Bold";
    cursor: pointer;
    transition: 0.3s;
}
.controlPanelItem:active{
    outline: none;
}
.controlPanelItem:focus{
    outline: none;
}
.controlPanelItem:hover{
    color: white;
}
.centerInfoBlock{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.centerDescriptionBody{
    width: 75%;
}
.textArea{
    width: 90%;
    height: 175px;
    border: #A5B4CB 1px solid;
    border-radius: 10px;
    padding: 5px;
    color: #263A59;
    background-color: transparent;
    font-family: "Gilroy Regular";
    font-size: 14px;
    resize: none;
}
.textArea:disabled{
    height: 175px;
    resize: none;
    width: 90%;
    border: none;
    color: #263A59;
    font-family: "Gilroy Regular";
    font-size: 14px;
}
.textArea::placeholder{
    color: #A5B4CB;
    font-family: "Gilroy Regular";
    font-size: 14px;
}
.textArea:focus{
    outline: none;
}
.centerSubInfoBlock{
    width: 25%;
    margin-left: 10px;
}
.subInfoBlock{
    width: 100%;
    height: auto;
}
.subInfoBlockHeader{
    width: 100%;
    display: flex;
    align-items: center;
}
.sunInfoTitle{
    margin-left: 5px;
    color: #263A59;
    font-family: "Gilroy Regular";
    font-size: 14px;
}
.subInfoBlockFooter{
    width: 100%;
}
.subInfoDesc:disabled{
    border: none;
    width: 100%;
    color: #263A59;
    font-family: "Gilroy Regular";
    font-size: 14px;
}
.subInfoDesc{
    width: 100%;
    border: #A5B4CB 1px solid;
    border-radius: 10px;
    padding: 5px;
    color: #263A59;
    background-color: transparent;
    font-family: "Gilroy Regular";
    font-size: 14px;
}
.subInfoDesc:focus{
    outline: none;
}
.subInfoDesc::placeholder{
    color: #A5B4CB;
    font-family: "Gilroy Regular";
    font-size: 14px;
}
.select{
    border: #A5B4CB 1px solid;
    border-radius: 10px;
    padding: 5px;
    color: #263A59;
    background-color: transparent;
    font-family: "Gilroy Regular";
    font-size: 14px;
    margin-bottom: 3px;
}
.select:disabled{
    border: none;
    font-size: 14px;
    appearance: none;
    color: #263A59;
    margin: 0;
    padding: 0 5px;
}
.select:focus{
    outline: none;
}
.select:disabled > *{
    color: #263A59;
}
.title_block{
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    align-items: center;
}

.coursesBlock{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}
@media screen and (max-width: 761px) {
    .headerBlock{
        flex-direction: column;
    }
    .logoBody{
        width: 100%;
        height: 100px;
    }
    .controlPanel{
        flex-direction: column-reverse;
        align-items: flex-end;
    }
    .headerTitleBlock{
        width: 100%;
    }
    .headerRightBlock{
        width: 100%;
    }
    .controlPanelItems{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-items: flex-end;
    }
    .controlPanelShowHideButton{
        margin: 3px 0;
    }
    .controlPanelItem{
        margin: 3px 0;
    }
    .centerInfoBlock{
        width: 100%;
        flex-direction: column;
    }
    .centerDescriptionBody{
        width: 100%;
    }
    .centerSubInfoBlock{
        margin-top: 20px;
        width: 100%;
    }
    .textArea{
        width: 100%;
    }
    .textArea:disabled{
        width: 100%;
        border: #A5B4CB 1px solid;
        border-radius: 10px;
        padding: 5px;
    }
    .title_block{
        width: 100%;
        display: flex;
        justify-content: center;
    }
}
