@font-face {
    font-family: "NeoSansPro Bold";
    src: url("../../public/fonts/NeoSansPro/NeoSansPro-Bold.ttf") format("truetype");
}
@font-face {
    font-family: "NeoSansPro Medium";
    src: url("../../public/fonts/NeoSansPro/NeoSansPro-Medium.ttf") format("truetype");
}
@font-face {
    font-family: "NeoSansPro Regular";
    src: url("../../public/fonts/NeoSansPro/NeoSansPro-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Gilroy Bold";
    src: url("../../public/fonts/Gilroy/Gilroy-Bold.ttf") format("truetype");
}
@font-face {
    font-family: "Gilroy Medium";
    src: url("../../public/fonts/Gilroy/Gilroy-Medium.ttf") format("truetype");
}
@font-face {
    font-family: "Gilroy Regular";
    src: url("../../public/fonts/Gilroy/Gilroy-Regular.ttf") format("truetype");
}
.form{
    margin: 15px;
}

.message{
    color: green;
    width: 100%;
    text-align: center;
    font-weight: 500;
}

.formBody{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.partnerFormInput{
    width: 70%;
    border: none;
    border-radius: 5px;
    margin-bottom: 5px;
    padding: 5px 15px;
    background: #f2f2f2;
    color: black;
    font-family: "Gilroy Regular";
}
.partnerFormInput:focus{
    outline: none;
}
.partnerFormInput::placeholder{
    color: darkgray;
    font-family: "Gilroy Regular";
}
.formInputBody{
    width: 70%;
    position: relative;
}
.inputImg{
    position: absolute;
    height: 16px;
    width: 16px;
    left: 7px;
    top: 8px;
}
.formInput{
    width: 100%;
    border: none;
    border-radius: 10px;
    margin-bottom: 5px;
    padding: 5px 15px 5px 30px;
    background: #f2f2f2;
    color: black;
    font-family: "Gilroy Regular";
}
.formInput:focus{
    outline: none;
}
.formInput::placeholder{
    color: darkgray;
    font-family: "Gilroy Regular";
}
.formSubmit{
    border: none;
    background-color: #3C58B9;
    color: white;
    border-radius: 5px;
    padding: 5px 15px;
    transition: 0.3s;
    font-family: "Gilroy Regular";
}
.formSubmit:hover{
    transition: 0.3s;
    background-color: #2b4087;
}

.courseTitle{
    font-family: "Gilroy Bold";
    font-size: 24px;
    color: #0016D9;
}
.courseDescription{
    font-family: "Gilroy Medium";
    font-size: 14px;
    color: #000000;
}
.courseInfoTitle{
    font-family: "Gilroy Medium";
    color: #0016D9;
}
.titleVector{
    height: 12px;
    width: 12px;
    margin-right: 5px;
}
.codeButton{
    width: 40%;
    border: none;
    border-radius: 5px;
    margin-bottom: 5px;
    padding: 5px 15px;
    background: #007bff;
    color: white;
    font-size: 16px;
    font-family: "Gilroy Regular";
    text-align: center;
    transition: 0.3s;
}
.codeButton:hover{
    transition: 0.3s;
    background-color: #0069d9;
}
.codeBlock{
    width: 70%;
    display: flex;
    justify-content: center;
}
.codeInput{
    width: 60%;
    border: none;
    border-radius: 5px;
    margin-bottom: 5px;
    padding: 5px 15px;
    background: #f2f2f2;
    color: black;
    font-family: "Gilroy Regular";
}
.codeInput:focus{
    outline: none;
}
.codeInput::placeholder{
    color: darkgray;
    font-family: "Gilroy Regular";
}
.coursePrice{
    font-family: "Gilroy Bold";
    font-size: 22px;
    color: #000000;
}
.contactFormBody{
    width: 100%;
    background-color: #beccff;
    border-radius: 0 0 10px 10px;
}
.contactFormTitle{
    font-family: "Gilroy Bold";
    font-size: 20px;
    color: #0016D9;
}
.contactFormDesc{
    font-family: "Gilroy Regular";
    font-size: 14px;
    color: #0016D9;
}
.contactFormInputsAreaBlock{
    width: 100%;
    text-align: left;
    -moz-appearance: none;
}
.contactFormPhoneInputBody{
    width: 100%;
    margin: 20px 0;
    padding: 0 15px;
    text-align: center;
}
.contactFormMessageBlock{
    padding: 0 15px;
}
.contactFormPhoneInput{
    width: 50%;
    border: none;
    border-radius: 20px 0 0 20px;
    font-size: 16px;
    padding: 5px 10px;
    font-family: "Gilroy Regular";
}
.contactFormPhoneInput:focus {
    outline: none;
}
.contactFromTextArea{
    font-family: "Gilroy Regular";
    resize: none;
    width: 100%;
    border: none;
    border-radius: 20px;
    padding: 5px 10px;
    outline: none;
    appearance: none;
    -moz-appearance: none;
}

.contactFormButton{
    border: none;
    border-radius: 0 20px 20px 0;
    padding: 5px 10px;
    background-color: #0016D9;
    color: white;
    font-size: 16px;
    font-family: "Gilroy Regular";
    transition: 0.3s;
}
.contactFormButton:focus{
    outline: none;
}
.contactFormButton:hover{
    background-color: #000a5c;
}
.contactFormSubtitle{
    color: #7d7d7d;
    font-size: 11px;
    font-family: "Gilroy Regular";
}
.contactFormSubtitleBody{
    margin-bottom: 15px;
    width: 100%;
    text-align: center;
    color: #0016D9;
    font-family: "Gilroy Regular";
}
.contactFormFooter{
    width: 100%;
    background-color: #5E7CDF;
    padding: 5px 15px;
}
.contactFormFooterFlex{
    display: flex;
    justify-content: space-between;
    color: white;
}
.contactFormLink{
    text-decoration: none;
    color: white;
    font-family: "Gilroy Regular";
    font-size: 11px;
    margin-left: 3px;
}
.contactFormLink:hover{
    text-decoration: none;
    color: white;
}
.contactFormIcon{
    height: 12px;
    width: 12px;
}
@media screen and (max-width: 761px){
    .codeBlock{
        width: 100%;
    }
    .formInputBody{
        width: 100%;
    }
    .codeButton{
    width: 35%;
    }
    .codeInput{
        width: 65%;
    }
    .contactFormPhoneInputBody{
        width: 100%;
    }
    .contactFormPhoneInput{
        width: 60%;
    }
    .contactFormButton{
        width: 40%;
    }
    .contactFormFooterFlex{
        flex-direction: row;
    }
    .partnerFormInput{
        width: 80%;
    }
    .formBody{
        width: 100%;
    }
}
