@font-face {
    font-family: "NeoSansPro Bold";
    src: url("../../public/fonts/NeoSansPro/NeoSansPro-Bold.ttf") format("truetype");
}
@font-face {
    font-family: "NeoSansPro Medium";
    src: url("../../public/fonts/NeoSansPro/NeoSansPro-Medium.ttf") format("truetype");
}
@font-face {
    font-family: "NeoSansPro Regular";
    src: url("../../public/fonts/NeoSansPro/NeoSansPro-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Gilroy Bold";
    src: url("../../public/fonts/Gilroy/Gilroy-Bold.ttf") format("truetype");
}
@font-face {
    font-family: "Gilroy Medium";
    src: url("../../public/fonts/Gilroy/Gilroy-Medium.ttf") format("truetype");
}
@font-face {
    font-family: "Gilroy Regular";
    src: url("../../public/fonts/Gilroy/Gilroy-Regular.ttf") format("truetype");
}
.stockCard{
    margin: 0 auto;
    height: 350px;
    width: 225px;
    background-size: cover;
    background-position: center;
    transition: 0.3s;
    display: flex;
    border-radius: 5px;
    align-items: flex-end;
    box-shadow: 0px 7px 15px 0px rgba(0,0,0,0.39);
}
.backHover{
    border-radius: 5px;
    transition: 0.3s ease-in-out;
    display: flex;
    align-items: flex-end;
    height: 100%;
    width: 100%;
    background-color: rgba(28, 28, 28, 0);
}
.stockCard:hover{
    cursor: pointer;
    transform: scale(1.01);
}
.stockCard:hover .backHover{
    background-color: rgba(28, 28, 28, 0.5);
}
.stockCard:hover .infoBlock{
    background-color: rgba(114, 114, 114, 0.5);
    transition: 0.3s ease-in-out;
}
.stockCard:hover .descriptionBody{
    display: block;
}
.infoBlock{
    padding: 10px;
    background-color: rgba(114, 114, 114, 0);
}
.title{
    color: white;
    font-family: "Gilroy Bold";
    font-size: 22px;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.7);
}
.courseName{
    margin: 0;
    color: white;
    font-family: "Gilroy Medium";
    font-size: 14px;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.7);
}
.description{
    font-family: 'GIlroy Regular';
    font-size: 16px;
    color: #ececec;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.7);
    transition: 0.3s ease-in-out;
}
.descriptionBody{
    display: none;
}
@media screen and (max-width: 761px){
    .descriptionBody{
        display: block;
    }
    .infoBlock{
        padding: 10px;
        background-color: rgba(114, 114, 114, 0.5);
    }
    .stockCard:hover .infoBlock{

    }
    .stockCard:hover .descriptionBody{

    }
    .backHover{
        background-color: rgba(28, 28, 28, 0.5);
    }
}